<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" id="titolo-logo"> <img src="./imagesAntonio/lumiere-logo2.png" alt="logo" height="70" id="img-logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menù</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#"><a href="pricing.html">Premium </a></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Account</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Generi
                  </a>
                  <ul class="dropdown-menu" id="myDropdown">
                    <li><a class="dropdown-item" onclick="changePage()" href="#">Avventura</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Azione</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Commedia</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Drammatico</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Thriller</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Horror</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Fantasy</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Romantico</a></li>
                    <li><a class="dropdown-item" onclick="redirectToPage()" href="#">Animazione</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3 mt-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Inserisci titolo..." aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Cerca</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
</div>