
body{ 
    color: #393E46!important; 
}
body > div{
    background-color:#393E46!important;
}

.row>*{
    background-color: #222831!important;
}
.card{
    background-color: #EEEEEE!important;
}
.list-group-item{
    background-color: #EEEEEE!important;
}


