
.text-bg-dark{
    background-color: #222831;
    font-family: 'Poppins', sans-serif;
    color: #EEEEEE  !important
}

body > div.d-flex.flex-column.flex-shrink-0.p-3.text-bg-dark {
    display: inline-block!important;
}

body{
    background-color: #393E46;
}

.content{
    display: inline-block!important;
    color: #EEEEEE  !important;

}